.error {
  color: red;
}
tbody {
  display: block;
  max-height: 450px;
  overflow: auto;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

td,th{
    text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(88, 88, 88);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(59, 58, 58);
}
